In [3]:
def double(num):
    """
    whatever the number you enter .... it just double the number
    """
    return 2 * num

In [5]:
print(double.__doc__)

    whatever the number you enter .... it just double the number

In [7]:
double(10)

20

In [9]:
def double(num):
    return 2*int(num)

In [11]:
double(10.7)

20

In [13]:
def sub(num1,num2):
    return num1-num2

sub(4,2)

2

In [15]:
def print__name(x):
    print("Hello",x)

In [17]:
print__name("siva")

Hello siva

In [19]:
print__name(125)

Hello 125

In [34]:
def get_sum(lst):
    sum = 0
    for num in lst:
         sum += num
    return sum

get_sum([1,2,3,4])

10

In [45]:
def num_5_7(i):
    for num in range(1,i):
        if num%5 == 0 and num%7!=0:
             print(num)

num_5_7(50)

5
10
15
20
25
30
40
45

In [47]:
lst=[1,2,3,4,5]

even_sum=0
odd_sum=0
for i in lst:
    if i%2==0:
        even_sum=even_sum+1
    else:
        odd_sum=odd_sum+1

print(even_sum, odd_sum)

2 3

In [58]:
def f_n(l):
    even_sum=0
    odd_sum=0
    for i in 1:
        if i%2==0:
            even_sum=even_sum+1
        else:
            odd_sum=odd_sum+i

print(even_sum,odd_sum)

2 3

In [60]:
f_n([1,2,3,4,5])

TypeError: 'int' object is not iterable

In [62]:
def greet(name,msg):
    print("Hello {} , {}" .format(name,msg))

greet("satish" , "Good Morning")

Hello satish , Good Morning

In [ ]:
def even_num():
    lb=int(input('enter lower bound values:'))