In [1]:
import pandas as pd

In [29]:
df =  pd.read_csv(r"C:\Users\ASUS\Downloads\archive.zip")
df.describe(include="all")

,UserID,SessionID,Timestamp,EventType,ProductID,Amount,Outcome
count,74817.000000,74817.000000,74817,74817,32113,10682.000000,10682
unique,NaN,NaN,74817,7,8747,NaN,1
top,NaN,NaN,2024-07-07 18:00:26.959902,page_view,prod_6051,NaN,purchase
freq,NaN,NaN,1,10819,12,NaN,10682
mean,500.740741,5.509777,NaN,NaN,NaN,253.189758,NaN
std,288.945183,2.869337,NaN,NaN,NaN,143.043974,NaN
min,1.000000,1.000000,NaN,NaN,NaN,5.131843,NaN
25%,251.000000,3.000000,NaN,NaN,NaN,130.933965,NaN
50%,501.000000,6.000000,NaN,NaN,NaN,253.112517,NaN
75%,751.000000,8.000000,NaN,NaN,NaN,378.832078,NaN
max,1000.000000,10.000000,NaN,NaN,NaN,499.981538,NaN

In [31]:
df.info

<bound method DataFrame.info of        UserID  SessionID                   Timestamp     EventType  ProductID  \
0           1          1  2024-07-07 18:00:26.959902     page_view        NaN
1           1          1  2024-03-05 22:01:00.072000     page_view        NaN
2           1          1  2024-03-23 22:08:10.568453  product_view  prod_8199
3           1          1  2024-03-12 00:32:05.495638   add_to_cart  prod_4112
4           1          1  2024-02-25 22:43:01.318876   add_to_cart  prod_3354
...       ...        ...                         ...           ...        ...
74812    1000         10  2024-05-11 22:48:45.500117      purchase  prod_1238
74813    1000         10  2024-03-29 04:09:32.514318        logout        NaN
74814    1000         10  2024-02-09 02:58:56.128697         login        NaN
74815    1000         10  2024-04-30 16:19:48.002633      purchase  prod_2515
74816    1000         10  2024-04-01 02:19:29.148727        logout        NaN

           Amount   Outcome
0             NaN       NaN
1             NaN       NaN
2             NaN       NaN
3             NaN       NaN
4             NaN       NaN
...           ...       ...
74812  186.208225  purchase
74813         NaN       NaN
74814         NaN       NaN
74815  198.757849  purchase
74816         NaN       NaN

[74817 rows x 7 columns]>

In [1]:
import numpy as np

In [3]:
import pandas as pd

In [7]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d)
ser

a    1
b    2
c    3
dtype: int64

In [11]:
d = {'a': 1, 'b': 2, 'c': 3}
ser = pd.Series(data=d, index=['a': 1, 'y' ,'c'])
ser

SyntaxError: invalid syntax (3284711363.py, line 2)